{% include 'parts/head.html' %}
{% include 'parts/navigation.html' %}

<!--hero header-->
<section class="bg-image bg-image-1 py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize"><img src="{{ url_for('static', filename="img/vh_logo_small.png") }}"></h1>
                <p class="lead py-3">Welcome to Veiled Haven, a Minecraft Server Project with a focus on keeping a vanilla gameplay experience and maintaining a mature community!</p>
            </div>
        </div>
    </div>
</section>
{#% disable Screenshot section
<!--screenshot section-->
<section class="py-7 section-angle top-left bottom-left" id="screenshots">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black">Screenshots</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <a href="{{ url_for('static', filename="img/screenshot-2.jpg") }}">
                        <img class="card-img-top img-raised" src="{{ url_for('static', filename="img/screenshot-2.jpg") }}" alt="Blog 1">
                    </a>
                    <div class="card-body">
                        <p class="text-muted small-xl mb-2">Apr 18, 2023 - A player build.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="{{ url_for('static', filename="img/screenshot-townsquare.jpg") }}">
                        <img class="card-img-top img-raised" src="{{ url_for('static', filename="img/screenshot-townsquare.jpg") }}" alt="Blog 1">
                    </a>
                    <div class="card-body">
                        <p class="text-muted small-xl mb-2">Apr 18, 2023 - Townsquare.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="{{ url_for('static', filename="img/screenshot-dragonfight.jpg") }}">
                        <img class="card-img-top img-raised" src="{{ url_for('static', filename="img/screenshot-dragonfight.jpg") }}" alt="Blog 1">
                    </a>
                    <div class="card-body">
                        <p class="text-muted small-xl mb-2">Apr 21, 2023 - Dragonfight.</p>
                    </div>
                </div>
            </div>

        </div>
<!--
        <div class="row mt-6">
            <div class="col-md-6 mx-auto text-center">
                <a href="#" class="btn btn-primary">View all posts</a>
            </div>
        </div>
-->
    </div>
</section>
%#}
<!--faq section-->
<section class="py-7 bg-image bg-image-2  bg-hero" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Frequently asked questions</h2>
                <p class="text-muted lead">Answers to most common questions.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6>Why is there an age restriction?</h6>
                        <p>Minecraft is a game that attracts players of all ages, but we believe that by setting an age limit, we can maintain a more mature and responsible community.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>What are the means of communication?</h6>
                        <p>We primarily utilize Discord as our main communication platform. It provides a centralized hub for announcements, discussions, and engagement with fellow players.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How is governance of the server handled?</h6>
                        <p>Our server has a dedicated team of staff members who oversee the governance and moderation of the server. They have the authority to take appropriate action against any players who violate the rules, ensuring a safe and enjoyable experience for everyone.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How Vanilla is the server?</h6>
                        <p>We aim to provide a gameplay experience that is as close to vanilla Minecraft as possible. While we may have some additional plugins or features to enhance gameplay, they are carefully selected to complement the core Minecraft experience without detracting from its essence.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How active is the community?</h6>
                        <p>We have a dedicated player base that actively engages in gameplay, discussions, and events. However, it's important to note that we understand that our players have other commitments and responsibilities, which can impact their availability. As a result, activity levels may vary throughout the week or during certain times of the year. Nevertheless, we strive to maintain an engaging and welcoming environment for all players, regardless of their availability.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Is there any Pay to Win crap on this server?</h6>
                        <p>Absolutely not! Our server does not have any Pay to Win elements!</p>
                    </div>
                </div>
            </div>
        </div>
{#% disable contact us button
        <div class="row mt-4">
            <div class="col-md-6 mx-auto text-center">
                <h5 class="mb-4">Have questions?</h5>
                <a href="#" class="btn btn-primary">Contact us</a>
            </div>
        </div>
%#}
    </div>
</section>


<!--rules section-->
<section class="py-7 section-angle top-right bottom-right" id="rules">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="text-white heading-black">Rules</h2>
            </div>
        </div>
        <!--rules list-->
        <div class="row pt-5 pricing-table">
            <div class="col-12 offset-md-1">
                <ol class="features-list">
                    <li><strong>Follow Discord's TOS</strong><br> When on Discord, follow their Terms of Service!: https://discordapp.com/terms &amp; https://discordapp.com/guidelines</li>
                    <li><strong>Minimum age requirement</strong><br> The minimum age requirement for participating on our server is 16 years old. We are committed to maintaining a mature and respectful community, and we believe that a minimum age requirement helps to ensure that our players are able to contribute to this goal.</li>
                    <li><strong>Respect other players</strong><br> Players should treat others with respect and avoid hate speech, bullying, or harassment. This includes any form of discrimination, such as racism, sexism, or homophobia.</li>
                    <li><strong>No NSFW content</strong><br> Sharing of NSFW (Not Safe for Work) content, including but not limited to explicit images, videos, or links, is strictly prohibited on our server. We do not tolerate any form of sexually explicit, violent, or otherwise inappropriate content that could be considered offensive or harmful to others.</li>
                    <li><strong>No griefing</strong><br> Players are not allowed to destroy or modify other players' structures without permission. This includes any form of griefing, such as stealing, breaking blocks, or flooding areas.</li>
                    <li><strong>Respect Build space</strong><br> Don't build too close to other players, always ask before you build near another player. Make sure to leave enough room between your builds to avoid interfering with their work. It is also important to ensure that your own build does not impede on any server infrastructure, such as spawn points, roads, community projects or public areas.</li>
                    <li><strong>No spamming</strong><br> Players should avoid excessive chat messages, commands, Voice chat, or other forms of spamming that disrupt the gameplay experience for others. This includes any form of advertisement or self-promotion.</li>
                    <li><strong>No advertising</strong><br> Players should not advertise other servers or websites within the server. This includes any form of solicitation or promotion of unrelated content.</li>
                    <li><strong>No cheating</strong><br> Players are not allowed to use any hacks, mods, or exploits that give them an unfair advantage over other players. This includes x-ray mods, fly hacks, or any other cheat that allows players to bypass normal gameplay mechanics.</li>
                    <li><strong>No duping</strong><br> The use of any form of block or item duplication glitch/exploit is strictly prohibited! With the exception of duping TNT.</li>
                    <li><strong>Play fair</strong><br> Players should aim to have fun while playing fair and maintaining a friendly, inclusive environment for everyone. This includes avoiding any form of toxic behavior or negative attitude towards other players.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--application section-->
<section class="py-7 bg-dark section-angle top-left bottom-left" id="application">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto text-center">
                <h2 class="heading-black">Application!</h2>
                <p>Ready to dive into the adventure of Veiled Haven? Join our Discord and apply now to start your journey!</p>
                <a href="https://discord.com/invite/XBsWNw7zQu" class="btn btn-primary"><i class="fa fa-brands fa-discord"></i> Join Veiled Haven on Discord</a>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<footer class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mr-auto">
                <h5>Veiled Haven</h5>
                <p class="text-muted">A Minecraft Server Project with a focus on keeping a vanilla gameplay experience and maintaining an adult community!</p>
                <ul class="list-inline social social-sm">
                    <li class="list-inline-item">
                        <a href="https://discord.com/invite/XBsWNw7zQu"><i class="fa fa-brands fa-discord"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="https://map.veiled-haven.net">Map</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-muted text-center small-xl">
                &copy; 2023-2024 Veiled Haven - All Rights Reserved
            </div>
        </div>
    </div>
</footer>

<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
{% if anchor %}
<script>
    document.getElementById('{{ anchor }}').scrollIntoView();
    // or
    document.location.hash = '#' + '{{ anchor }}';
</script>
{% endif %}
{% include 'parts/tail.html' %}
