{% include 'parts/head.html' %}
{% include 'parts/navigation.html' %}

<!--hero header-->
<section class="bg-image bg-image-1 py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize"><img src="{{ url_for('static', filename="img/vh_logo_small.png") }}"></h1>
                <p class="lead py-3">Welcome to Veiled Haven, a Minecraft Server Project with a focus on keeping a vanilla gameplay experience and maintaining a mature community!</p>
            </div>
        </div>
    </div>
</section>
<!--screenshot section-->
<section class="py-7 section-angle top-left bottom-left" id="screenshots">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black">Screenshots</h2>
            </div>
        </div>
        <div class="row mt-5">
            {% for image in images %}
            <div class="col-md-4">
                <div class="card">
                    <a href="{{ image }}">
                        <img class="card-img-top img-raised" src="{{ image }}" alt="">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-6">
            <div class="col-md-6 mx-auto text-center">
                <a href="/galery" class="btn btn-primary">Go to Galery</a>
            </div>
        </div>
    </div>
</section>
<!--faq section-->
<section class="py-7 bg-image bg-image-2  bg-hero" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Frequently asked questions</h2>
                <p class="text-muted lead">Answers to most common questions.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6>Why is there an age restriction?</h6>
                        <p>Minecraft is a game that attracts players of all ages, but we believe that by setting an age limit, we can maintain a more mature and responsible community.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>What are the means of communication?</h6>
                        <p>We primarily utilize Discord as our main communication platform. It provides a centralized hub for announcements, discussions, and engagement with fellow players.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How is governance of the server handled?</h6>
                        <p>Our server has a dedicated team of staff members who oversee the governance and moderation of the server. They have the authority to take appropriate action against any players who violate the rules, ensuring a safe and enjoyable experience for everyone.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How Vanilla is the server?</h6>
                        <p>We aim to provide a gameplay experience that is as close to vanilla Minecraft as possible. While we may have some additional plugins or features to enhance gameplay, they are carefully selected to complement the core Minecraft experience without detracting from its essence.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How active is the community?</h6>
                        <p>We have a dedicated player base that actively engages in gameplay, discussions, and events. However, it's important to note that we understand that our players have other commitments and responsibilities, which can impact their availability. As a result, activity levels may vary throughout the week or during certain times of the year. Nevertheless, we strive to maintain an engaging and welcoming environment for all players, regardless of their availability.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Is there any Pay to Win crap on this server?</h6>
                        <p>Absolutely not! Our server does not have any Pay to Win elements!</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>What modifications does Veiled Haven use?</h6>
                        <p>To get a list of the modification, <a class="page-scroll" id="toggleMods" href=""> click here!</a></p>
                    </div>
                    <script>
                        document.getElementById('toggleMods').addEventListener('click', function(event) {
                            event.preventDefault(); // Prevent default link behavior

                            // Get the mods section
                            const modsSection = document.getElementById('mods');

                            // Toggle the collapse class
                            modsSection.classList.toggle('collapse');

                            // Determine the anchor to scroll to
                            const anchor = modsSection.classList.contains('collapse') ? 'faq' : 'mods';

                            // Scroll to the appropriate section
                            document.getElementById(anchor).scrollIntoView({ behavior: 'smooth' });
                            // Alternatively, update the URL hash
                            // document.location.hash = '#' + anchor;
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
<!--mods section-->
<section class="py-7 bg-dark section-angle top-left bottom-left collapse" id="mods">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Modifications on Veiled Haven</h2>
                <p class="text-muted lead">Please note, that these Modifications are all Server Side, you can play without any modifications installed.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6>Quality of Life</h6>
                        <ul>
                            <li><a href="https://modrinth.com/mod/convenient-mobgriefing">Convenient Mob Griefing</a></li>
                            <li><a href="https://modrinth.com/mod/cycle-paintings">Cycle Paintings</a></li>
                            <li><a href="https://modrinth.com/mod/dismount-entity">Dismount Entity</a></li>
                            <li><a href="https://modrinth.com/mod/double-doors">Double Doors</a></li>
                            <li><a href="https://modrinth.com/mod/jade">Jade</a></li>
                            <li><a href="https://modrinth.com/mod/leaves-us-in-peace">Leaves Us In Peace</a></li>
                            <li><a href="https://modrinth.com/mod/replanting-crops">Replanting Crops</a></li>
                            <li><a href="https://modrinth.com/mod/afkplus">AFKPlus</a></li>
                            <li><a href="https://modrinth.com/mod/babies-forever">Babies Forever</a></li>
                            <li><a href="https://vanillatweaks.net/picker/datapacks/">SilenceMob</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Management</h6>
                        <ul>
                            <li><a href="https://www.curseforge.com/minecraft/mc-mods/carpet">Carpet</a></li>
                            <li><a href="https://modrinth.com/plugin/chunky">Chunky</a></li>
                            <li><a href="https://modrinth.com/plugin/chunkyborder">Chunky Border</a></li>
                            <li><a href="https://modrinth.com/mod/ledger">Ledger</a></li>
                            <li><a href="https://modrinth.com/mod/luckperms">Luckperms</a></li>
                            <li><a href="https://modrinth.com/mod/spark">Spark</a></li>
                            <li><a href="https://www.curseforge.com/minecraft/mc-mods/essential-permissions">Essential Permissions</a></li>
                            <li><a href="https://modrinth.com/mod/invview">InvView</a></li>
                            <li><a href="https://www.curseforge.com/minecraft/mc-mods/worldedit">World Edit</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Optimization</h6>
                        <ul>
                            <li><a href="https://modrinth.com/mod/adaptiveview">AdaptiveView</a></li>
                            <li><a href="https://modrinth.com/mod/ferrite-core">FerriteCore</a></li>
                            <li><a href="https://modrinth.com/mod/lithium">Lithium</a></li>
                            <li><a href="https://modrinth.com/mod/modernfix">ModernFix</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Decoration</h6>
                        <ul>
                            <li><a href="https://modrinth.com/mod/just-mob-heads">Just Mob Heads</a></li>
                            <li><a href="https://modrinth.com/mod/just-player-heads">Just Player Heads</a></li>
                            <li><a href="https://vanillatweaks.net/picker/datapacks/">Armor Statues</a></li>
                            <li><a href="https://modrinth.com/datapack/mvp">More Vanilla Paintings</a></li>
                            <li><a href="https://vanillatweaks.net/picker/datapacks/">Wandering Trades</a></li>
                            <li><a href="https://modrinth.com/mod/styled-chat">Styled Chat</a></li>
                            <li><a href="https://modrinth.com/mod/styledplayerlist">Styled Playerlist</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Fun</h6>
                        <ul>
                            <li><a href="https://modrinth.com/mod/audioplayer">Audio Player</a></li>
                            <li><a href="https://modrinth.com/plugin/simple-voice-chat">Simple Voice Chat</a></li>
                            <li><a href="https://modrinth.com/mod/takeaseat">TakeASeat</a></li>
                            <li><a href="https://modrinth.com/mod/image2map">Image2Map</a></li>
                            <li><a href="https://modrinth.com/datapack/blazeandcaves-advancements-pack">BlazeandCave's Advancements</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Miscellaneous</h6>
                        <ul>
                            <li><a href="https://modrinth.com/mod/discord-mc-chat">Discord MC Chat</a></li>
                            <li><a href="https://modrinth.com/plugin/squaremap">Squaremap</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Essential</h6>
                        <ul>
                            <li><a href="https://modrinth.com/mod/no-chat-reports">No Chat Reports</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{#% disable contact us button
        <div class="row mt-4">
            <div class="col-md-6 mx-auto text-center">
                <h5 class="mb-4">Have questions?</h5>
                <a href="#" class="btn btn-primary">Contact us</a>
            </div>
        </div>
%#}
    </div>
</section>



<!--rules section-->
<section class="py-7 section-angle top-right bottom-right" id="rules">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="text-white heading-black">Rules</h2>
            </div>
        </div>
        <!--rules list-->
        <div class="row pt-5 pricing-table">
            <div class="col-10 offset-md-1">
                <ol class="features-list">
                    <li><strong>Discord TOS</strong>: When on Discord, follow the Discord Terms of Service Terms | Guidelines</li>
                    <li><strong>Minimum age requirement</strong>: You must be atleast 16 years of age to participate in Veiled Haven. We want to maintaining a mature and respectful community, and we believe that keeping minimum age at 16 helps to ensure that our players are able to contribute to this goal.</li>
                    <li><strong>Respect others</strong>: Players should treat others with respect and avoid hate speech, bullying, or harassment. This includes any form of discrimination, such as racism, sexism, or homophobia.</li>
                    <li><strong>No NSFW content</strong>: Sharing of NSFW (Not Safe for Work) content, including but not limited to explicit images, videos, or links, is strictly prohibited on Veiled Haven. We do not tolerate any form of sexually explicit, violent, or otherwise inappropriate content that could be considered offensive or harmful to others.</li>
                    <li><strong>No griefing</strong>: Players are not allowed to destroy or modify other players' structures without permission. This includes any form of griefing, such as stealing, breaking blocks, or flooding areas.</li>
                    <li><strong>Respect Build space</strong>: Make sure there is atleast a distance of 200 blocks to your build from another players unless you are in a group or if that player has given you permission to build near them. Additionally, please ensure that your creations do not impede on any server infrastructure, such as spawn points, roads, community projects, or public areas.</li>
                    <li><strong>No spamming</strong>: Players should avoid sending excessive messages, commands & other forms of spamming that disrupt the gameplay experience for others. This includes any form of advertisement or self-promotion unless otherwise stated by staff.</li>
                    <li><strong>No advertising</strong>: Players should not advertise other servers or websites within the server. This includes any form of solicitation or promotion of unrelated content unless otherwise stated by staff.</li>
                    <li><strong>No cheating</strong>: Players are not allowed to use any hacks, mods, or exploits that give them an unfair advantage over their fellow members. This includes x-ray mods, fly hacks, or any other cheat that allows players to bypass normal gameplay mechanics.</li>
                    <li><strong>No duping</strong>: The use of any form of block or item duplication glitch/exploit is strictly prohibited with the exception of TNT.</li>
                    <li><strong>Application</strong>: Upon your application to Veiled Haven the final question will be "What was the hidden word in the rules?" The hidden word you must input is Dango.</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!--application section-->
<section class="py-7 bg-dark section-angle top-left bottom-left" id="application">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto text-center">
                <h2 class="heading-black">Application!</h2>
                <p>Ready to dive into the adventure of Veiled Haven? Join our Discord and apply now to start your journey!</p>
                <a href="https://discord.com/invite/XBsWNw7zQu" class="btn btn-primary"><i class="fa fa-brands fa-discord"></i> Join Veiled Haven on Discord <i class="fa fa-brands fa-discord"></i></a>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<footer class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mr-auto">
                <h5>Veiled Haven</h5>
                <p class="text-muted">A Minecraft Server Project with a focus on keeping a vanilla gameplay experience and maintaining an adult community!</p>
                <p><a href="https://discord.com/invite/XBsWNw7zQu"><i class="fa fa-brands fa-discord"></i></a> <a href="https://www.reddit.com/user/veiled_haven/"><i class="fa fa-brands fa-reddit"></i></a></p>
            </div>
            <div class="col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="https://map.veiled-haven.net"><i class="fa fa-solid fa-map"></i> Map</a></li>
                    <li><a href="https://www.reddit.com/user/veiled_haven/"><i class="fa fa-brands fa-reddit"></i> Reddit</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-muted text-center small-xl">
                &copy; 2023-2024 Veiled Haven - All Rights Reserved
            </div>
        </div>
    </div>
</footer>

<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
{% if anchor %}
<script>
    document.getElementById('{{ anchor }}').scrollIntoView();
    // or
    document.location.hash = '#' + '{{ anchor }}';
</script>
{% endif %}
{% include 'parts/scripts.html' %}
{% include 'parts/tail.html' %}
