{% include 'parts/head.html' %}
<!--hero header-->
<section class="bg-image bg-image-3 py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">Success!</h1>
                <p class="lead py-3">We'll contact you via Discord! Make sure that you are able to receive Friend Requests!</p>
                <p class="lead py-3">You can now close this tab, or go <a href="/">back to the Homepage</p>
            </div>
        </div>
    </div>
</section>
{% include 'parts/tail.html' %}

